main{
    flex:1;
    text-align: center;
}
.contact-info p {
    margin: 10px 0;
}

.contact-info a {
    color: #333;
}

.contact-info a:hover {
    color: #B08C2D;
}

.contact-form {
    display: flex;
    flex-direction: column; 
    box-shadow:  0px 0px 10px grey;
    border-radius: 10px;
    width: 45vh;
    height: 55vh;
    justify-content: center;
    align-items: center; 
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-form button {
    padding: 10px 15px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #B08C2D;
}

/* Google Map */
.map-container iframe {
    border: 0;
    
}